.alert {
  width: 80vw;
  padding: 20px;

  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;

  border: 1px solid var(--success-color);
  color: var(--success-color);

  /* background-color: var(--light-color); */

  text-align: center;
  font-weight: bold;
}
.fail {
  border: 1px solid var(--danger-color);
  color: var(--danger-color);
}
