* {
  /* margin: 0px;
  padding: 0px; */
  box-sizing: border-box;
}

:root {
  --primary-color: #000000;
  --primary-color-light: #eea4c3;
  --secondary-color: #abff4f;
  --secondary-color-light: #dbffb4;
  --dark-color: #1c0f13;
  --light-color: #6e7e85;
  --very-light-color: #e7e7e7;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
