.heading {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0.2rem;
}

.btn {
  display: inline-block;
  width: 6.5rem;
  background: var(--primary-color);
  color: white;
  padding: 0.4rem 0.3rem;
  font-size: 1rem;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  /* color: black; */
  color: white;
}

.mt-point5 {
  margin-top: 0.5rem;
}

.prompt {
  text-align: left;
  position: fixed;

  width: 400px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -200px;

  border-radius: 5px;
  background-color: rgb(255, 255, 255);

  z-index: 100;
}
